
// Summit v2 less variables
// -------------------

@color-main         : #000;
@color-primary      : lighten(@color-main, 10%);
@color-secondary    : lighten(@color-main, 20%);

@bg-main        : #E0E0E0;
@bg-primary     : lighten(@bg-main, 10%);
@bg-secondary   : lighten(@bg-main, 20%);

@breakpoint-tablet          : 768px;
@breakpoint-desktop         : 1024px;
@breakpoint-large-desktop   : 1200px;


@button-main-color      : @color-main;
@button-main-bg         : @bg-main;

@button-primary-color   : @color-primary;
@button-primary-bg      : @bg-primary;


@button-secondary-color : @color-secondary;
@button-secondary-bg    : @bg-secondary;

@header-mobile-height: 70px;

