
// Summit v2 less styles
// ----------------

@import "_variables";

// Vendors
// -------

// Utilities
// ------

@import "source/utilities/_mixins";
@import "source/utilities/_functions";

// General
// -------



// Components
// ----------

@import "source/components/_grid";


// Sections
// --------

@import "source/sections/_header";
@import "source/sections/_footer";

body{
  position:relative;
  background:red;
  color:#000;
  border:0;
  margin:0;
  padding:0;
}