
// Summit v2 less styles
// ----------------

@import "_variables";

// Vendors
// -------

@import "vendors/normalize/_normalize";

// Utilities
// ------

@import "source/utilities/_mixins";
@import "source/utilities/_functions";

// General
// -------



// Components
// ----------

@import "source/components/_grid";
@import "source/components/_buttons";


// Sections
// --------

@import "source/sections/_header";
@import "source/sections/_footer";


body{
  background:black;
  color:rgba(255,255,255,0.9);
  font-size:12px;
  line-height:1.6;
  font-family:"Helvetica Neu", Arial, sans-serif;
}
