// Style guide
// -----------


// Guide test grids
// ---------

@guide-grid-gutter      : 20;
@guide-grid-breakpoint  : 480px;

#grid2  { #dynamicGrid(2, 200px, @guide-grid-gutter, @guide-grid-breakpoint); }
#grid3  { #dynamicGrid(3, 200px, @guide-grid-gutter, @guide-grid-breakpoint); }
#grid6  { #dynamicGrid(6, 100px, @guide-grid-gutter, @guide-grid-breakpoint); }
#grid12 { #dynamicGrid(12, 80px, @guide-grid-gutter, @guide-grid-breakpoint); }

.guide-grid{
    .clearfix();
    width:auto;

    &__column{
        #grid2 > .column;
        background:rgba(0,255,0,.1);
        height:300px;
        margin-bottom:20px;
    }
}

@media all and (min-width: 600px){

    .guide-grid{

        &__column{
            #grid3 > .column;
        }

    }


}

@media all and (min-width: 1024px){

    .guide-grid{

        &__column{
            #grid6 > .column;
        }

    }

}


@media all and (max-width:599px){

    .guide-grid{
        &__column:nth-child(2n){
            margin-right:0;
        }
    }
}


@media all and (min-width:600px) and (max-width:1023px){

    .guide-grid{
        &__column:nth-child(3n){
            margin-right:0;
        }
    }
}

@media all and (min-width:1024px){
    .guide-grid{
        &__column:nth-child(6n){
            margin-right:0;
        }
    }
}


.guide-grid-sidebar{

    &__column{
        background:rgba(0,255,0,.1);
        height:300px;

        &--left{
            #grid12 > .column(8);
        }

        &--right{
            #grid12 > .column(4);
        }
    }
}


// Guide section
// -------------

.guide-section{
    padding:20px;
    margin:0;


    &__title{
        font: 600 2em/1.4 "Helvetica", Arial, sans-serif;
        color:rgba(0,0,0,.87);
        margin:0;
        padding:0;

    }

    &__subtitle{
        font: 400 1.5em/1.4 "Helvetica", Arial, sans-serif;
        color:rgba(0,0,0,.54);
        margin:0;
        padding:0;
    }


    &__content{
        .clearfix();
        margin-top:20px;
    }

}

// Guide buttons
// -------------

.guide-button{
    display:inline-block;
    vertical-align:top;
    margin-right:20px;

    &__label{
        display:block;
        font: 500 0.8em/1.2 "Helvetica", Arial, sans-serif;
        color:rgba(0,0,0,.54);
        margin:0 0 5px 0;
    }

    &__container{
        display:block;
    }

    // Large

    &--wide{
        width:300px;
    }
}



