// Style guide
// -----------


// Test grid

@guide-grid-gutter      : 20;
@guide-grid-breakpoint  : 480px;

#grid2 { #dynamicGrid(2, 200px, @guide-grid-gutter, @guide-grid-breakpoint); }
#grid3 { #dynamicGrid(3, 200px, @guide-grid-gutter, @guide-grid-breakpoint); }
#grid6 { #dynamicGrid(6, 200px, @guide-grid-gutter, @guide-grid-breakpoint); }



.guide-grid{
    #grid2 > .container;
    width:100%;

    &__column{
        #grid2 > .column(1, true, false);
        background:rgba(0,255,0,.1);
        height:300px;
        margin-bottom:20px;
    }
}

@media all and (min-width: 600px){

    .guide-grid{

        &__column{
            #grid3 > .column(1, true, false);
        }

    }


}

@media all and (min-width: 1024px){

    .guide-grid{

        &__column{
            #grid6 > .column;
        }

    }

}


@media all and (max-width:599px){

    .guide-grid{
        &__column:nth-child(2n){
            margin-right:0;
        }
    }
}


@media all and (min-width:600px) and (max-width:1023px){

    .guide-grid{
        &__column:nth-child(3n){
            margin-right:0;
        }
    }
}


// Guide

.guide-section{
    padding:20px;


    &__title{
        font: 500 2em/1.4 "Helvetica", Arial, sans-serif;
        color:rgba(0,0,0,.87);
        margin:0;
        padding:0;

    }

    &__subtitle{
        font: 500 1.5em/1.4 "Helvetica", Arial, sans-serif;
        color:rgba(0,0,0,.54);
        margin:0;
        padding:0;
    }


    &__content{
        margin-top:20px;
    }
}



